{{- if and (or $.Values.global.persistence.enabled $.Values.fourAllPortal.persistence.assets.enabled $.Values.fourAllPortal.persistence.storage.enabled) .Values.backups.volumes.enabled -}}
  {{- if $.Values.global.persistence.useCombinedVolumes }}
apiVersion: stash.appscode.com/v1alpha1
kind: Repository
metadata:
  name: "{{ include "common.names.fullname" $ }}-storage"
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: volume
    app.kubernetes.io/part-of: backup
spec:
  backend:
    storageSecretName: {{ include "4allportal.backup.volumes.secretName" $ }}
    s3:
      bucket: {{ $.Values.backups.target.s3.bucket | quote }}
      endpoint: {{ $.Values.backups.target.s3.endpoint | quote }}
      prefix: {{ printf "%s/%s/persistentvolumeclaim/storage" $.Release.Namespace $.Release.Name | quote }}
---
    {{ else -}}
      {{- range $volume := list "config" "assets" -}}
apiVersion: stash.appscode.com/v1alpha1
kind: Repository
metadata:
  name: "{{ include "common.names.fullname" $ }}-{{ $volume }}"
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    app.kubernetes.io/component: volume
    app.kubernetes.io/part-of: backup
spec:
  backend:
    storageSecretName: {{ include "4allportal.backup.volumes.secretName" $ }}
    s3:
      bucket: {{ $.Values.backups.target.s3.bucket | quote }}
      endpoint: {{ $.Values.backups.target.s3.endpoint | quote }}
      prefix: {{ printf "%s/%s/persistentvolumeclaim/%s" $.Release.Namespace $.Release.Name $volume | quote }}
---
    {{ end -}}
  {{ end -}}
{{- end -}}
