apiVersion: v2
appVersion: "3.10.62"
description: A Helm chart for 4ALLPORTAL version 3.10.0 and up
name: 4allportal
version: 20.11.0
icon: https://4allportal.com/wp-content/uploads/2022/07/cropped-4ap_logo.png
keywords:
  - 4ALLPORTAL
  - DAM
  - MAM
home: https://4allportal.com
maintainers:
  - name: jpkraemer-mg
    email: j.kraemer@4allportal.com

dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 2.31.3
  - repository: https://4allportal.github.io/helm-charts
    name: maxscale
    version: 4.1.15
    condition: maxscale.enabled
