{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

This helm chart requires flux v2 to be installed (https://fluxcd.io/docs/installation)

{{ template "chart.valuesSection" . }}

# Upgrading

## To 25.0.0

Prometheus requires a CRD upgrade;

```
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagerconfigs.yaml
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagers.yaml
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_probes.yaml
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_prometheuses.yaml
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml
kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.52.0/example/prometheus-operator-crd/monitoring.coreos.com_thanosrulers.yaml
```

## To 26.0.0

Prometheus requires a CRD upgrade;

```
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagerconfigs.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagers.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_probes.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_prometheuses.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.53.1/example/prometheus-operator-crd/monitoring.coreos.com_thanosrulers.yaml
```

## To 27.0.0

Prometheus requries a CRD upgrade

```
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagerconfigs.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagers.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_probes.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_prometheuses.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml
kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.54.0/example/prometheus-operator-crd/monitoring.coreos.com_thanosrulers.yaml
```

## To 28.0.0

The following components are now under the `monitoring` section:

- `ingressMonitoring` as `ingress`
- `grafana`
- `costAnalysis`
- `prometheus`
- `loki`
- `metricsServer`
- `securityScanning`
- `jaeger`
- `goldpinger`

## To 29.0.0

The helm-operator will now be installed / upgraded via a pre-install/pre-upgrade hook.

Therefore the `HelmRelease` `helm-operator` has been deleted. This means this chart has to be upgraded manually after the helm-operator  will be uninstalled.

## To 30.0.0

Loki HelmRelease moves from namespace `flux` to `monitoring`. You either need to reconnect the PV with the new PVC, or start fresh with 0 logs.

Traefik HelmRelease moves from namespace `flux` to `ingress`. You may need to adjust some things referencing the resources.

## To 31.0.0

This release supports cilium network policies. To create the correct ones, the `.spec.values.global.authentication.config.issuerURL` has been split into `spec.values.global.authentication.config.issuerHost` and `spec.values.global.authentication.config.issuerPath`.

## To 32.0.0

This release installs flux v2 alongside flux v1 and prepares the migration

## To 33.0.0

You have to migrate your resources, at least this cluster resource, to flux v2 after this upgrade to reenable syncing

After this upgrade, flux v1 and the helm-operator will be removed, therefore you have to migrate your resources accordingly

Also, the `.git.instances.$name.url` should not contain `$(GIT_AUTHUSER):$(GIT_AUTHKEY)@` anymore

## To 34.0.0

This concludes the migration, the following HelmReleases will be recreated by this upgrade;

- Loki
- Jaeger

You either need to reconnect the PVs with the new PVCs, or start fresh with no data.

## To 36.0.0

The update includes the upgrade of the prometheus chart to 45.x.x. In order for this upgrade to work, you need to delete the daemonset prometheus-operator-prometheus-node-exporter.

## To 37.0.0

This update removes the old security scanner estafette and installs aquasecurities trivy with the corresponding grafana dashboard.

### To 37.1.6

You can now add an email configuration for the alertmanager. If your email server uses port 456 SMARTTLS will be disabled automatically. It is also possible to add custom routes for the alertmanager. For the syntax please refer to the alertmanager [documentation](https://prometheus.io/docs/alerting/latest/configuration/) or our values.schema.json.

### To 38.0.0

Before executing the upgrade you have to modify the traefik helmrelease and disable the PodSecurityPolicy yourself. After that proceed with the following instruction.
This  update upgrades the ingress controller traefik with its helm chart to 23.x.x. There are some required changes that you need to be aware of. The clusterrole will be renamed and the PodPolicy will be delete because it is deprecated since k8s version 1.25. In order to perform this update you have to delete the traefik deployment manually.

### To 39.0.0

This update ensures compatibility with k8s v1.27.x, which no longer supports several api versions. It also upgrades the traefik chart to 25.x.x, as well as the oauth2-proxy chart to v3.x.x.
The upgrade to k8s v1.27.x also removes the in-tree AWS storage drivers.
Please check the following (urgent) upgrade notes before upgrading:

[traefik release notes](https://github.com/traefik/traefik-helm-chart/releases/tag/v25.0.0)

[k8s upgrade notes v1.24](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#urgent-upgrade-notes)

[k8s upgrade notes v1.25](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.25.md#urgent-upgrade-notes)

[k8s upgrade notes v1.26](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.26.md#urgent-upgrade-notes)

[k8s upgrade notes v1.27](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.27.md#urgent-upgrade-notes)

[redis 7.0 release notes](https://raw.githubusercontent.com/redis/redis/7.0/00-RELEASENOTES) before upgrading.

### To 39.0.1

Prometheus will now send alerts for levels where human interference might be necessary in regards to Node CPU / Memory usage as well as HikariCP.

### To 39.0.2

You can now add extra configurations for Trivy, allowing for more efficient resource usage and schedulable pods.

### To 40.0.0

Our implementation of the DeadMansSwitch was removed entirely and we swapped to the DeadMansSnitch from Prometheus.

### To 40.6.0

We've upgraded Traefik to v34.x.x, going from Traefik v2 to Traefik v3 Proxy.
We urge you to read the [traefik release notes](https://github.com/traefik/traefik-helm-chart/releases/tag/v26.0.0) of all versions >25.0.0 before upgrading.
We've linked Traefik v26.0.0, all other release notes are accessible from that link